<ion-header>
  <ion-navbar color="primary">
    <ion-title style="text-align: center;">MATCHES</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-color:#f2f2f2;">
	
	<div *ngIf="volunteer; else agency_template">
	<ion-card *ngFor="let match of matches" id="{{ match.opportunity.id }}">
	  <ion-item>
	    <ion-avatar item-start>
	      <img src="../../assets/imgs/charity.png">
	    </ion-avatar>
	    <p>{{ match.opportunity.short_description }}</p>
	  </ion-item>

	  <ion-card-content>
		<p>{{ match.opportunity.long_description }}</p>
	    <p>{{ match.opportunity.location_description }}</p>
	    <p>{{ match.opportunity.time_description }}</p>
	    <p>{{ match.opportunity.event_start_time }}</p>	    
	  </ion-card-content>
	  <ion-row>
	    <ion-col>
	      <button ion-button icon-left clear small (click)="remove_opp_card(match.opportunity.id)">
	        <ion-icon name="remove-circle"></ion-icon>
	        <div>Un-match</div>
	      </button>
	    </ion-col>
	  </ion-row>
	</ion-card>
	</div>

	<ng-template #agency_template>
	<ion-card *ngFor="let match of matches" id="{{ match.volunteer.id }}">
	  <ion-item>
	    <ion-avatar item-start>
	      <img src="../../assets/imgs/kirk.jpg">
	    </ion-avatar>
	    <h2>{{ match.volunteer.name }}</h2>
	    <p>{{ match.volunteer.email }}</p>
	  </ion-item>

	  <ion-card-content>
		<p>Keywords:</p>
		<ul style="list-style-type:square;margin:0;">
			<li>Magnesium</li>
			<li>Cobalt</li>
			<li>Selenium</li>
		</ul>	    
	  </ion-card-content>
	  <ion-row>
	    <ion-col>
	      <button ion-button icon-left clear small (click)="remove_vol_card(match.volunteer.id)">
	        <ion-icon name="remove-circle"></ion-icon>
	        <div>Un-match</div>
	      </button>
	    </ion-col>
	  </ion-row>
	</ion-card>
	</ng-template>

</ion-content>